<!doctype html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>JSON 推播測試</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>

<body>
    <form action="./broadcast" method="post" enctype="application/x-www-form-urlencoded">
        <select id="chat_id" name="chat_id" size="20" required>
            <option disabled></option>
            <% chatList.forEach(function(chat){ %>
                <option value="<%= chat.id %>"><%= chat.title %></option>
            <% }); %>
            <% userList.forEach(function(user){ %>
                <option value="<%= user.id %>"><%= user.NAME %></option>
            <% }); %>
        </select>
        <textarea id="text" name="text" placeholder="訊息內容" rows="10" cols="40" required></textarea>
        <select id="token" name="token" size="7" required>
            <option disabled></option>
            <% botList.forEach(function(bot){ %>
                <option value="<%= bot.token %>"><%= bot.first_name %></option>
            <% }); %>
        </select><br>
        <input id="submit" type="submit" value="推播" />
        <input id="reset" type="reset" value="重設" />
    </form>
</body>

</html>